In [16]:
import pandas as pd
s1=pd.Series([10,30,40,50,60],index=['a','b','c','d','e'])
s2=s1+5
s1=s1+s2
s1[:4]

a     25
b     65
c     85
d    105
dtype: int64

In [17]:
s2=pd.Series({'a':100},index=['a','b'])
s2

a    100.0
b      NaN
dtype: float64

In [18]:
d1=pd.DataFrame({'name':['saksi','astha'],'marks':[20,30]})
d1

    name  marks
0  saksi     20
1  astha     30